---
layout: default
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/report.css" />
<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat:400,700" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<section id="report-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Estado de la transparencia activa en partidos políticos</h1>
        <h2>Medición realizada en julio de 2017</h2>
      </div>
    </div>
  </div>
</section>
<section id="report-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Introducción</h2>
        <p>A continuación se presenta un reporte interactivo con el estado de avance en materia de transparencia activa de los partidos políticos. Esta medición se realizó revisando la información cargada por los partidos políticos en el <a href="https://www.portaltransparencia.cl/PortalPdT/web/guest/directorio-de-organismos-regulados" target="_blank">Portal de Transparencia</a>, a través de las 22 planillas Excel facilitadas por el Consejo para la Transparencia (CPLT).</p>
        <p>¿Por qué no están todos los partidos? Porque Partidos Públicos recoge solo la información disponible en el Portal de Transparencia. Dado que no todos los partidos del país han firmado convenio con el CPLT para utilizar dicha plataforma, hay un número importante de partidos que no están activos en Partidos Públicos y, por ende, no figuran en este informe.</p>
        <p>* A la fecha de esta medición (julio, 2017) los partidos Amplitud y Todos no habían firmado convenio con el CPLT, por lo que, a pesar de estar hoy activos en Partidos Públicos, no figuran en este informe.</p>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
<section id="report-diagnostic">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <h2>Diagnóstico general partidos activos en Partidos Públicos</h2>
        <p>Este informe, elaborado por <a href="http://www.chiletransparente.cl/" target="_blank">Chile Transparente</a>, permite observar que aunque 9 de los 14 partidos evaluados están por sobre la media de logros obtenidos, el promedio solo alcanza el 47%. Los partidos que cumplieron con un mayor número de indicadores son Evópoli con 25 de 40 indicadores logrados (63%) y Revolución Democrática con 24 (60%), ambos partidos prácticamente nuevos en comparación con aquellos que registran los menores puntajes: la UDI (35%) y el Partido Demócrata Cristiano (18%).</p>
        <p>Otros partidos que registraron avances por sobre el la mitad de los indicadores son el Partido Humanista (58%), el Partido Radical (55%) y los partidos Comunista, Partido por la Democracia, Progresista y Socialista, todos con un 53% de cumplimiento.</p>
      </div>
    </div>
  </div>
</section>
<section id="report-results">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Reporte</h2>
        <p>Junto al nombre de cada partido verás el número de ítems informados a través del Portal de Transparencia (la Ley exige 40 en total) y una barra con el porcentaje de cumplimiento asociado a este número. Haz clic en la barra de algún partido para desplegar el detalle.
</p>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading legend-heading">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                Partido
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                Porcentaje de cumplimiento
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                Ítemes informados
              </div>
            </div>
          </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for p in site.data.report17[2017] %}
          <div class="panel panel-default">
            <div id="categoria-{{ p.partido.slug }}" class="collapsed panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#reporte-{{ p.partido }}" aria-expanded="false" aria-controls="reporte-">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <h4>{{ p.partido }}</h4>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                  <div class="col-md-10">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ p.percentage }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ p.percentage }}%;"></div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <p class="big-number">{{ p.percentage }}%</p>
                  </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                  <p class="big-number">{{ p.indice }}</p>
                </div>
              </div>
            </div>
            <div id="reporte-{{ p.partido }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-{{ p.partido }}">
              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-body legend-body">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-md-10">
                        <p>Ítem</p>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                        <p>¿Informado?</p>
                      </div>
                    </div>
                  </div><!--panel body-->
                </div><!--panel default-->
                {% for c in p.categories %}
                <div class="panel panel-default">
                  <div class="panel-heading category-heading">
                    <p>{{ c.category }}</p>
                  </div>
                  <div class="panel-body category-body">
                    {% for q in c.questions %}
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-md-10">
                        <p><span class="badge">{{ q.question }}</span> {{ q.text }}</p>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                        {% if q.value ==true %}
                          <i class="fa fa-check fa-lg" aria-hidden="true" style="color: #1AC0A4;"></i>
                        {% endif %}
                        {% if q.value ==false %}
                          <i class="fa fa-times fa-lg" aria-hidden="true" style="color: #E85D34;"></i>
                        {% endif %}
                      </div>
                    </div>
                    {% endfor %}

                  </div><!--panel body-->
                </div><!--panel default-->
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
